.container {
    width: 1728px;
    height: 1117px;
    background: #1D1D23;
}

.heading1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* height: 100vh;   */

}

.container2 {
    width: 849px;
    height: 132px;
    flex-shrink: 0;
    padding-top: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 20px;
    background: #34344A;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.set-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-grp {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
label{
    text-decoration-line: underline;
}

#add-timer {
    margin-right: 5px;
    padding: 0px 50px 0px 50px;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 124px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #F0F757;

}

.centered {
    width: 413px;
    height: 66px;
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 50px;
    background: #39393E;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}